@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_FootballLeague.cshtml";
}

@for (var i = 0; i < Model.Count; i++)
{

    <tr>
        <td class="cmsmasters_table_cell_aligncenter">
            @(i+1) 
        </td>
        <td class="cmsmasters_table_cell_aligncenter">
            @Model[i].TenClb
        </td>
        <td class="cmsmasters_table_cell_aligncenter">
            @Model[i].SoTranThang
        </td>
        <td class="cmsmasters_table_cell_aligncenter">
            @Model[i].SoTranHoa
        </td>
        <td class="cmsmasters_table_cell_aligncenter">
            @Model[i].SoTranHoa
        </td>
        <td class="cmsmasters_table_cell_aligncenter">
            @Model[i].Diem
        </td>
    </tr>
    if (i == 7)
    {
        break;
    }


}
