@{
    ViewData["Title"] = "ChiTietClub";
    Layout = "~/Views/Shared/_Layout_ChiTietClub.cshtml";
}

<div class="middle_inner">
    <div class="content_wrap fullwidth">

        <!-- Start Content -->
        <div class="middle_content entry" role="main"></div>
    </div>
    <style type="text/css">
        #cmsmasters_row_6406e5d37b4821_69113939 {
            background-image: url(@Url.Content("../Images/Clubs/"+Model[0].Anhdaidien));
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
        }

            #cmsmasters_row_6406e5d37b4821_69113939 .cmsmasters_row_outer_parent {
                padding-top: 150px;
            }

            #cmsmasters_row_6406e5d37b4821_69113939 .cmsmasters_row_outer_parent {
                padding-bottom: 140px;
            }

            #cmsmasters_row_6406e5d37b4821_69113939 .cmsmasters_row_overlay {
                background-color: rgba(10, 10, 10, 0.6);
            }


        #cmsmasters_divider_6406e5d37e0759_15403581 {
            border-bottom-width: 0px;
            border-bottom-style: solid;
            padding-top: 0px;
            margin-bottom: 10px;
        }

        #cmsmasters_divider_6406e5d37e0be7_88758231 {
            border-bottom-width: 0px;
            border-bottom-style: solid;
            padding-top: 0px;
            margin-bottom: 20px;
        }

        #cmsmasters_button_6406e5d37e0de8_58933940 {
            text-align: center;
        }

            #cmsmasters_button_6406e5d37e0de8_58933940 .cmsmasters_button:before {
                margin-right: .5em;
                margin-left: 0;
                vertical-align: baseline;
            }

            #cmsmasters_button_6406e5d37e0de8_58933940 .cmsmasters_button {
                font-weight: normal;
                font-style: normal;
                border-style: solid;
                color: #ffffff;
                border-color: #ffffff;
            }

                #cmsmasters_button_6406e5d37e0de8_58933940 .cmsmasters_button:hover {
                    color: #282828;
                    border-color: rgba(163, 163, 163, 0);
                }

        #cmsmasters_row_6406e5d37e11b1_31513361 .cmsmasters_row_outer_parent {
            padding-top: 0px;
        }

        #cmsmasters_row_6406e5d37e11b1_31513361 .cmsmasters_row_outer_parent {
            padding-bottom: 50px;
        }


        #cmsmasters_heading_6406e5d37e24d2_54839743 {
            text-align: left;
            margin-top: 50px;
            margin-bottom: 20px;
        }

            #cmsmasters_heading_6406e5d37e24d2_54839743 .cmsmasters_heading {
                text-align: left;
            }

                #cmsmasters_heading_6406e5d37e24d2_54839743 .cmsmasters_heading,
                #cmsmasters_heading_6406e5d37e24d2_54839743 .cmsmasters_heading a {
                    font-weight: bold;
                    font-style: normal;
                }

            #cmsmasters_heading_6406e5d37e24d2_54839743 .cmsmasters_heading_divider {
            }


        #cmsmasters_divider_6406e5d37e26f1_01153409 {
            border-bottom-width: 1px;
            border-bottom-style: dashed;
            padding-top: 0px;
            margin-bottom: 50px;
        }

        #cmsmasters_row_6406e5d37e4c85_24314134 .cmsmasters_row_outer_parent {
            padding-top: 0px;
        }

        #cmsmasters_row_6406e5d37e4c85_24314134 .cmsmasters_row_outer_parent {
            padding-bottom: 0px;
        }

        #cmsmasters_row_6406e5d37e4c85_24314134 .cmsmasters_row_inner.cmsmasters_row_fullwidth {
            padding-left: 0%;
        }

        #cmsmasters_row_6406e5d37e4c85_24314134 .cmsmasters_row_inner.cmsmasters_row_fullwidth {
            padding-right: 0%;
        }

        #cmsmasters_divider_6406e5d37e5374_48681695 {
            border-bottom-width: 1px;
            border-bottom-style: dashed;
            padding-top: 0px;
            margin-bottom: 0px;
        }

        #cmsmasters_row_6406e5d37e5604_20293535 {
            background-color: #ffffff;
        }

            #cmsmasters_row_6406e5d37e5604_20293535 .cmsmasters_row_outer_parent {
                padding-top: 50px;
            }

            #cmsmasters_row_6406e5d37e5604_20293535 .cmsmasters_row_outer_parent {
                padding-bottom: 60px;
            }


        #cmsmasters_heading_6406e5d3885303_32507373 {
            text-align: left;
            margin-top: 20px;
            margin-bottom: 5px;
        }

            #cmsmasters_heading_6406e5d3885303_32507373 .cmsmasters_heading {
                text-align: left;
            }

                #cmsmasters_heading_6406e5d3885303_32507373 .cmsmasters_heading,
                #cmsmasters_heading_6406e5d3885303_32507373 .cmsmasters_heading a {
                    font-weight: bold;
                    font-style: normal;
                }

            #cmsmasters_heading_6406e5d3885303_32507373 .cmsmasters_heading_divider {
            }


        #cmsmasters_heading_6406e5d38857d0_85284693 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
        }

            #cmsmasters_heading_6406e5d38857d0_85284693 .cmsmasters_heading {
                text-align: left;
            }

                #cmsmasters_heading_6406e5d38857d0_85284693 .cmsmasters_heading,
                #cmsmasters_heading_6406e5d38857d0_85284693 .cmsmasters_heading a {
                    font-weight: normal;
                    font-style: normal;
                }

            #cmsmasters_heading_6406e5d38857d0_85284693 .cmsmasters_heading_divider {
            }


        #cmsmasters_divider_6406e5d3885ae3_41278770 {
            border-bottom-width: 1px;
            border-bottom-style: dashed;
            padding-top: 20px;
            margin-bottom: 20px;
        }

        #cmsmasters_heading_6406e5d3885d82_21553747 {
            text-align: left;
            margin-top: 10px;
            margin-bottom: 5px;
        }

            #cmsmasters_heading_6406e5d3885d82_21553747 .cmsmasters_heading {
                text-align: left;
            }

                #cmsmasters_heading_6406e5d3885d82_21553747 .cmsmasters_heading,
                #cmsmasters_heading_6406e5d3885d82_21553747 .cmsmasters_heading a {
                    font-weight: bold;
                    font-style: normal;
                }

            #cmsmasters_heading_6406e5d3885d82_21553747 .cmsmasters_heading_divider {
            }


        #cmsmasters_heading_6406e5d3886000_14060347 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
        }

            #cmsmasters_heading_6406e5d3886000_14060347 .cmsmasters_heading {
                text-align: left;
            }

                #cmsmasters_heading_6406e5d3886000_14060347 .cmsmasters_heading,
                #cmsmasters_heading_6406e5d3886000_14060347 .cmsmasters_heading a {
                    font-weight: normal;
                    font-style: normal;
                }

            #cmsmasters_heading_6406e5d3886000_14060347 .cmsmasters_heading_divider {
            }


        #cmsmasters_divider_6406e5d3886296_57567277 {
            border-bottom-width: 1px;
            border-bottom-style: dashed;
            padding-top: 20px;
            margin-bottom: 20px;
        }

        #cmsmasters_heading_6406e5d3886532_89559027 {
            text-align: left;
            margin-top: 10px;
            margin-bottom: 5px;
        }

            #cmsmasters_heading_6406e5d3886532_89559027 .cmsmasters_heading {
                text-align: left;
            }

                #cmsmasters_heading_6406e5d3886532_89559027 .cmsmasters_heading,
                #cmsmasters_heading_6406e5d3886532_89559027 .cmsmasters_heading a {
                    font-weight: bold;
                    font-style: normal;
                }

            #cmsmasters_heading_6406e5d3886532_89559027 .cmsmasters_heading_divider {
            }


        #cmsmasters_heading_6406e5d38867f5_46731653 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
        }

            #cmsmasters_heading_6406e5d38867f5_46731653 .cmsmasters_heading {
                text-align: left;
            }

                #cmsmasters_heading_6406e5d38867f5_46731653 .cmsmasters_heading,
                #cmsmasters_heading_6406e5d38867f5_46731653 .cmsmasters_heading a {
                    font-weight: normal;
                    font-style: normal;
                }

            #cmsmasters_heading_6406e5d38867f5_46731653 .cmsmasters_heading_divider {
            }


        #cmsmasters_divider_6406e5d3886ac7_51087735 {
            border-bottom-width: 1px;
            border-bottom-style: dashed;
            padding-top: 20px;
            margin-bottom: 20px;
        }

        #cmsmasters_heading_6406e5d3886d35_85428221 {
            text-align: left;
            margin-top: 10px;
            margin-bottom: 5px;
        }

            #cmsmasters_heading_6406e5d3886d35_85428221 .cmsmasters_heading {
                text-align: left;
            }

                #cmsmasters_heading_6406e5d3886d35_85428221 .cmsmasters_heading,
                #cmsmasters_heading_6406e5d3886d35_85428221 .cmsmasters_heading a {
                    font-weight: bold;
                    font-style: normal;
                }

            #cmsmasters_heading_6406e5d3886d35_85428221 .cmsmasters_heading_divider {
            }


        #cmsmasters_heading_6406e5d3886fc9_70419417 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
        }

            #cmsmasters_heading_6406e5d3886fc9_70419417 .cmsmasters_heading {
                text-align: left;
            }

                #cmsmasters_heading_6406e5d3886fc9_70419417 .cmsmasters_heading,
                #cmsmasters_heading_6406e5d3886fc9_70419417 .cmsmasters_heading a {
                    font-weight: normal;
                    font-style: normal;
                }

            #cmsmasters_heading_6406e5d3886fc9_70419417 .cmsmasters_heading_divider {
            }


        #cmsmasters_divider_6406e5d3887242_16805383 {
            border-bottom-width: 1px;
            border-bottom-style: dashed;
            padding-top: 20px;
            margin-bottom: 20px;
        }

        #cmsmasters_heading_6406e5d38873e1_01664106 {
            text-align: left;
            margin-top: 10px;
            margin-bottom: 5px;
        }

            #cmsmasters_heading_6406e5d38873e1_01664106 .cmsmasters_heading {
                text-align: left;
            }

                #cmsmasters_heading_6406e5d38873e1_01664106 .cmsmasters_heading,
                #cmsmasters_heading_6406e5d38873e1_01664106 .cmsmasters_heading a {
                    font-weight: bold;
                    font-style: normal;
                }

            #cmsmasters_heading_6406e5d38873e1_01664106 .cmsmasters_heading_divider {
            }


        #cmsmasters_heading_6406e5d3887638_87736685 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
        }

            #cmsmasters_heading_6406e5d3887638_87736685 .cmsmasters_heading {
                text-align: left;
            }

                #cmsmasters_heading_6406e5d3887638_87736685 .cmsmasters_heading,
                #cmsmasters_heading_6406e5d3887638_87736685 .cmsmasters_heading a {
                    font-weight: normal;
                    font-style: normal;
                }

            #cmsmasters_heading_6406e5d3887638_87736685 .cmsmasters_heading_divider {
            }
    </style>
    <div id="cmsmasters_row_6406e5d37b4821_69113939" class="cmsmasters_row cmsmasters_color_scheme_default"
         data-stellar-background-ratio="0.5">
        <div class="cmsmasters_row_outer_parent">
            <div class="cmsmasters_row_overlay"></div>
            <div class="cmsmasters_row_outer">
                <div class="cmsmasters_row_inner">
                    <div class="cmsmasters_row_margin">
                        <div class="cmsmasters_column one_first">
                            <div class="cmsmasters_text">
                                <p style="text-align: center;">
                                    <span style="font-weight: bold; color: #ffcd02; font-family: oswald; font-size: 30pt; line-height: 32pt;">
                                        <span style="color: #ffffff;">@Model[0].TenClb&nbsp;</span>FC
                                    </span>
                                </p>
                            </div>

                            <div id="cmsmasters_divider_6406e5d37e0759_15403581" class="cl"></div>
                            <div class="cmsmasters_text">
                                <p style="text-align: center;">
                                </p>
                            </div>

                            <div id="cmsmasters_divider_6406e5d37e0be7_88758231" class="cl"></div>
                            <div id="cmsmasters_button_6406e5d37e0de8_58933940" class="button_wrap">
                                <a href="@Url.Action("Index", "News")" class="cmsmasters_button"><span>Tin tức mới nhất</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="cmsmasters_row_6406e5d37e4c85_24314134" class="cmsmasters_row cmsmasters_color_scheme_default">
        <div class="cmsmasters_row_outer_parent">
            <div class="cmsmasters_row_outer">
                <div class="cmsmasters_row_inner cmsmasters_row_fullwidth">
                    <div class="cmsmasters_row_margin">
                        <div class="cmsmasters_column one_first">

                            <div id="cmsmasters_divider_6406e5d37e5374_48681695"
                                 class="cmsmasters_divider cmsmasters_divider_width_long cmsmasters_divider_pos_center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="cmsmasters_row_6406e5d37e5604_20293535" class="cmsmasters_row cmsmasters_color_scheme_default">
        <div class="cmsmasters_row_outer_parent">
            <div class="cmsmasters_row_outer">
                <div class="cmsmasters_row_inner">
                    <div class="cmsmasters_row_margin">
                        <div class="cmsmasters_column three_fourth">
                            <p>
                                <script type="text/javascript">jQuery(document).ready(function () { jQuery("#cmsmasters_hover_slider_6406e5d37e6332_96251689").cmsmastersHoverSlider({ sliderBlock: "#cmsmasters_hover_slider_6406e5d37e6332_96251689", sliderItems: ".cmsmasters_hover_slider_items", thumbWidth: "100", thumbHeight: "60", activeSlide: 1, pauseTime: 5000, pauseOnHover: true }); });</script>
                                <div id="cmsmasters_hover_slider_6406e5d37e6332_96251689" class="cmsmasters_hover_slider">
                                    <ul class="cmsmasters_hover_slider_items">
                                        <li>
                                            <figure class="cmsmasters_hover_slider_full_img">
                                                <img width="860" height="406"
                                                     src=@Url.Content("../Images/Clubs/"+Model[0].Anhdaidien)
                                                     class="attachment-post-thumbnail size-post-thumbnail" alt="" loading="lazy" />
                                            </figure>
                                        </li>
                                        @foreach (var image in ViewBag.imageClub)
                                        {
                                            <li>
                                                <figure class="cmsmasters_hover_slider_full_img">
                                                    <img width="860" height="406"
                                                         src=@Url.Content("../Images/Clubs/"+image.TenFileAnh)
                                                         class="attachment-post-thumbnail size-post-thumbnail" alt="" loading="lazy" />
                                                </figure>
                                            </li>
                                        }
                                    </ul>
                                </div>
                        </div>
                        <div class="cmsmasters_column one_fourth">

                            <div id="cmsmasters_heading_6406e5d3885303_32507373"
                                 class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
                                <h3 class="cmsmasters_heading">Tên</h3>
                            </div>
                            <div id="cmsmasters_heading_6406e5d38857d0_85284693"
                                 class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
                                <h5 class="cmsmasters_heading">@Model[0].TenClb</h5>
                            </div>
                            <div id="cmsmasters_divider_6406e5d3885ae3_41278770"
                                 class="cmsmasters_divider cmsmasters_divider_width_long cmsmasters_divider_pos_center"></div>
                            <div id="cmsmasters_heading_6406e5d3885d82_21553747"
                                 class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
                                <h3 class="cmsmasters_heading">Tên gọi</h3>
                            </div>
                            <div id="cmsmasters_heading_6406e5d3886000_14060347"
                                 class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
                                <h5 class="cmsmasters_heading">@Model[0].TenGoi</h5>
                            </div>
                            <div id="cmsmasters_divider_6406e5d3886ac7_51087735"
                                 class="cmsmasters_divider cmsmasters_divider_width_long cmsmasters_divider_pos_center"></div>
                            <div id="cmsmasters_heading_6406e5d3886d35_85428221"
                                 class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
                                <h3 class="cmsmasters_heading">Huấn luyện viên</h3>
                            </div>
                            <div id="cmsmasters_heading_6406e5d3886fc9_70419417"
                                 class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
                                <h5 class="cmsmasters_heading">@Model[0].Huanluyenvien</h5>
                            </div>
                            <div id="cmsmasters_divider_6406e5d3887242_16805383"
                                 class="cmsmasters_divider cmsmasters_divider_width_long cmsmasters_divider_pos_center"></div>
                            <div id="cmsmasters_heading_6406e5d38873e1_01664106"
                                 class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
                                <h3 class="cmsmasters_heading">Sân vận động</h3>
                            </div>
                            <div id="cmsmasters_heading_6406e5d3887638_87736685"
                                 class="cmsmasters_heading_wrap cmsmasters_heading_align_left">
                                <h5 class="cmsmasters_heading">@Model[0].Sanvandong</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cl"></div>
    <div class="content_wrap fullwidth">

        <div class="middle_content entry" role="main"></div>
        <!-- Finish Content -->

    </div>
</div>