@model Vleague_Management_Website.Controllers.CauthuClb

@{
    ViewData["Title"] = "ChiTietCauThu";
    Layout = "~/Views/Shared/_Layout_ChiTietCauThu.cshtml";
}

<div class="middle_inner">
	<div class="content_wrap fullwidth profile_page">

		<!-- Start Content -->
		<div class="middle_content entry" role="main">
			<div class="profiles opened-article">

				<!-- Start Standard Profile -->
				@*@foreach (var image in ViewBag.imageProduct)
				{*@
				<article id="post-406"
						 class="post-406 profile type-profile status-publish has-post-thumbnail hentry pl-categs-number-5">
					<header class="cmsmasters_profile_header entry-header">
						<h1 class="cmsmasters_profile_title entry-title">@Model.HoVaTen</h1>
						<h5 class="cmsmasters_profile_subtitle">@Model.ViTri</h5>
					</header>
					<div class="profile_content with_sidebar">
						<div class="cmsmasters_profile_content entry-content">
							<div id="cmsmasters_row_6406e675560680_31065285"
								 class="cmsmasters_row cmsmasters_color_scheme_default">
								<div class="cmsmasters_row_outer_parent">
									<div class="cmsmasters_row_outer">
										<div class="cmsmasters_row_inner">
											<div class="cmsmasters_row_margin">
												<div class="cmsmasters_column one_first">
													<div class="cmsmasters_img  cmsmasters_image_n">
														<a href="../Layout_FootballLeauge/wp-content/uploads/2015/04/4.jpg"
														   rel="ilightbox">
															<img src=@Url.Content("../Images/Players/"+Model.Anhdaidien) />
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="cmsmasters_row_6406e675563525_86936158"
								 class="cmsmasters_row cmsmasters_color_scheme_default">
								<div class="cmsmasters_row_outer_parent">
									<div class="cmsmasters_row_outer">
										<div class="cmsmasters_row_inner">
											<div class="cmsmasters_row_margin">
												<div class="cmsmasters_column one_first">
													<div class="cmsmasters_text">
														<p>
															
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="cl"></div>
						</div>
					</div>
					<div class="profile_sidebar">
						<div class="profile_details entry-meta">
							<h2 class="profile_details_title">Hồ sơ Cầu thủ</h2>
							<div class="profile_details_item">
								<div class="profile_details_item_title">Vị Trí:</div>
								<div class="profile_details_item_desc">@Model.ViTri</div>
							</div>
							<div class="profile_details_item">
								<div class="profile_details_item_title">Ngày Sinh:</div>
								<div class="profile_details_item_desc">@Model.Ngaysinh</div>
							</div>
							<div class="profile_details_item">
								<div class="profile_details_item_title">Quốc Tịch:</div>
								<div class="profile_details_item_desc">
									@Model.QuocTich
								</div>
							</div>
							<div class="profile_details_item">
								<div class="profile_details_item_title">Câu lạc bộ:</div>
								<div class="profile_details_item_desc">@Model.CauLacBo</div>
							</div>
							<div class="profile_details_item">
								<div class="profile_details_item_title">Cân nặng:</div>
								<div class="profile_details_item_desc">@Model.CanNang</div>
							</div>
							<div class="profile_details_item">
								<div class="profile_details_item_title">Số áo:</div>
								<div class="profile_details_item_desc">@Model.SoAo</div>
							</div>
							<div class="profile_details_item">
								<div class="profile_details_item_title">Chiều cao:</div>
								<div class="profile_details_item_desc">@Model.ChieuCao</div>
							</div>
						</div>
						<div class="profile_social_icons">
							<h2 class="profile_social_icons_title">Mạng xã hội</h2>
							<ul class="profile_social_icons_list">
								<li><a href="#" class="cmsmasters-icon-instagramm" title=""></a></li>
								<li><a href="#" class="cmsmasters-icon-skype" title=""></a></li>
								<li><a href="#" class="cmsmasters-icon-twitter" title=""></a></li>
								<li>
									<a href="#" class="cmsmasters-icon-facebook-squared" title=""></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="cl"></div>
				</article>
				@*}*@
				<!-- Finish Standard Profile -->
			</div>
		</div>
		<!-- Finish Content -->

	</div>
</div>
<style>
	.cmsmasters_img {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>