@{
    ViewData["Title"] = @ViewBag.Title;
    Layout = "~/Views/Shared/_Layout_DetailNews.cshtml";
}
@model Vleague_Management_Website.Controllers.NewsController.TinTucUser
<!-- Start Middle -->
<div id="middle">
    <div class="headline cmsmasters_color_scheme_default">
        <div class="headline_outer">
            <div class="headline_color"></div>
            <div class="headline_inner align_left">
                <div class="headline_aligner"></div><div class="headline_text"><h1 class="entry-title">@Model.TieuDe</h1></div><div class="cmsmasters_breadcrumbs">
                    <div class="cmsmasters_breadcrumbs_aligner"></div>
                </div>
            </div>
        </div>
    </div><div class="middle_inner">
        <div class="content_wrap r_sidebar">

            <!-- Start Content -->
            <div class="content entry" role="main">
                <div class="blog opened-article">

                    <!-- Start Image Article -->
                    <article id="post-2965" class="post-2965 post type-post status-publish format-image has-post-thumbnail hentry category-featured category-news post_format-post-format-image">
                        <div class="cmsmasters_post_cont">
                            <figure class="cmsmasters_img_wrap">
                                <a href="@Url.Content("../../Images/News/"+Model.Anhdaidien)"
                                   title="Texas Rangers Finish In Second Place" rel="ilightbox[img_2965_6406e5d8f3231]"
                                   class="cmsmasters_img_link">
                                    <img width="1000" height="667"
                                         src="../Layout_FootballLeague/wp-content/uploads/2015/04/1-1.jpg" class=" wp-post-image"
                                         alt="Texas Rangers Finish In Second Place" loading="lazy" title="Texas Rangers Finish In Second Place"
                                         srcset="@Url.Content("../../Images/News/"+Model.Anhdaidien)" 1000w
                                         sizes="(max-width: 1000px) 100vw, 1000px" />
                                </a>
                            </figure>
                            <div class="cmsmasters_post_cont_info_rightside">
                                <header class="cmsmasters_post_header entry-header">
                                    <h2 class="cmsmasters_post_title entry-title">@Model.TieuDe</h2>
                                </header>
                                <div class="cmsmasters_post_cont_info entry-meta">
                                    <span class="cmsmasters_post_user_name">
                                        By
                                        <a href="../author/cmsmasters/index.html"
                                           title="Posts by cmsmasters"
                                           class="vcard author"
                                           rel="author"><span class="fn">@Model.TenNguoiDung</span></a>
                                    </span><span>In</span>
                                    <div class="cmsmasters_post_category">
                                        <a href="../category/events/index.html" rel="category tag">Events</a>
                                        <a href="../category/news/index.html" rel="category tag">News</a>
                                    </div><span>On @Model.NgayTao</span>
                                </div>
                            </div>
                            <div class="cmsmasters_post_content entry-content">
                                <style type="text/css"></style>
                                <p>@Model.NoiDung</p>
                                <div class="cl"></div>
                            </div>
                            <footer class="cmsmasters_post_footer entry-meta">
                                <div class="cmsmasters_post_footer_info">
                                    <div class="cmsmasters_post_meta_info clear">
                                        <a class="cmsmasters_post_comments cmsmasters_theme_icon_comment"
                                           href="index.html#respond"
                                           title="Comment on @Model.TieuDe"><span>0</span></a><a href="#"
                                                                                                 onclick="cmsmasters_like(78); return false;"
                                                                                                 id="cmsmastersLike-78"
                                                                                                 class="cmsmastersLike cmsmasters_theme_icon_heart"><span>36</span></a>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </article>
                    <!-- Finish Image Article -->
                    <aside class="about_author">
                        <h2 class="about_author_title">Người đăng</h2>
                        <div class="about_author_inner">
                            <figure class="alignleft">
                                <img alt=''
                                     src='https://static.vecteezy.com/system/resources/previews/001/840/618/original/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg'
                                     srcset='https://static.vecteezy.com/system/resources/previews/001/840/618/original/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg'
                                     class='avatar avatar-130 photo' height='130' width='130' loading='lazy' />
                            </figure>
                            <div class="ovh">
                                <h3 class="vcard author"><span class="fn" rel="author">@Model.TenNguoiDung</span></h3>
                            </div>
                        </div>
                    </aside>
                    <div id="respond" class="comment-respond">
                    </div><!-- #respond -->
                </div>
            </div>
            <!-- Finish Content -->
            <!-- Start Sidebar -->
            <div class="sidebar" role="complementary">
                <aside id="search-3" class="widget widget_search">
                    <div class="search_bar_wrap">
                        <form method="get" action="https://sports-club.cmsmasters.net/">
                            <p class="search_field">
                                <input name="s" placeholder="enter keywords..." value="" type="search" />
                            </p>
                            <p class="search_button">
                                <button type="submit">Search</button>
                            </p>
                        </form>
                    </div>

                </aside>
            </div>
            <!-- Finish Sidebar -->
        </div>
    </div>
</div>
<!-- Finish Middle -->
